<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.enterprise.dao.index.ServInduMapper">
    <insert id="insertServIndu" parameterType="com.example.enterprise.po.index.integrate.ServeIndustry">
        insert into serveindustry(enterprise_id,system_manage_level,call_center,budget_management,
                                  service_Integration,online_purchase_rate,application_scope_of_purchasing_ecommerce,labor_productivity,Informatization_energy_management,Information_exchange_and_sharing,
                                  maintenance_investment_proportion,enterprise_level_unified_coding,enterprise_organization_mode,informatization_plan_implementation,
                                  informatization_decision_support,informatization_equipment_management,informatization_human_resource_management,
                                  cloud_platform_usage
        )
        values(#{enterprise_id},#{system_manage_level},#{call_center},#{budget_management},#{service_Integration},#{online_purchase_rate},
               #{application_scope_of_purchasing_ecommerce},#{labor_productivity},#{Informatization_energy_management},#{Information_exchange_and_sharing},#{maintenance_investment_proportion},
               #{enterprise_level_unified_coding},#{enterprise_organization_mode},#{informatization_plan_implementation},#{informatization_decision_support},#{informatization_equipment_management},
               #{informatization_human_resource_management},#{cloud_platform_usage})
    </insert>

    <insert id="updateServPercent" parameterType="com.example.enterprise.po.index.integrate.ServePercent">
        update serveindustry set system_manage_level_p=#{system_manage_level_p},call_center_p=#{call_center_p},budget_management_p=#{budget_management_p},
                                 service_Integration_p=#{service_Integration_p},online_purchase_rate_p=#{online_purchase_rate_p},application_scope_of_purchasing_ecommerce_p=#{application_scope_of_purchasing_ecommerce_p},
                                 labor_productivity_p=#{labor_productivity_p},Informatization_energy_management_p=#{Informatization_energy_management_p},Information_exchange_and_sharing_p=#{Information_exchange_and_sharing_p},
                                 maintenance_investment_proportion_p=#{maintenance_investment_proportion_p},enterprise_level_unified_coding_p=#{enterprise_level_unified_coding_p},enterprise_organization_mode_p=#{enterprise_organization_mode_p},
                                 informatization_plan_implementation_p=#{informatization_plan_implementation_p},informatization_decision_support_p=#{informatization_decision_support_p},
                                 informatization_equipment_management_p=#{informatization_equipment_management_p},informatization_human_resource_management_p=#{informatization_human_resource_management_p},
                                 cloud_platform_usage_p=#{cloud_platform_usage_p}
        where enterprise_id = #{enterprise_id}
    </insert>

    <select id="getSerIndByEpId" resultType="com.example.enterprise.po.index.integrate.ServeIndustry">
        select * from serveindustry where enterprise_id=#{enterprise_id}
    </select>

    <select id="getAllSerInd" resultType="com.example.enterprise.po.index.integrate.ServeIndustry">
        select * from serveindustry
    </select>

    <select id="getPercentByEpId" resultType="com.example.enterprise.po.index.integrate.ServePercent">
        select * from serveindustry where enterprise_id=#{enterprise_id}
    </select>

    <select id="getAllPercent" resultType="com.example.enterprise.po.index.integrate.ServePercent">
        select * from serveindustry
    </select>

    <delete id="deleteDiverById">
        delete from serveindustry where enterprise_id = #{id}
    </delete>
</mapper>
