@font-face {
    /**/
    font-family: 'thin_font';
    src: url("font/1.otf");
}

@font-face {
    /**/
    font-family: 'jump_cool';
    src: url("font/4.ttf");
}


@font-face {
    font-family: "biao_song";
    src: url("font/biaoSong.ttf");
}

@font-face {
    font-family: "fang_song";
    src: url("font/Fangsong.ttf");
}

hgroup {
    font-family: 'thin_font';
}

.mr_frUl ul li > div h4 {
    margin-top: 10px;
    color: #f3f3f3;
    line-height: 32px;
    font-size: 30px;
    font-family: jump_cool;
}

.thin_font{
    font-family: thin_font;
}
.jump_cool_font{
    font-family: jump_cool;
}

.biao_song{
    font-family: biao_song;
}

.fang_song{
    font-family: fang_song;
}
